.title {
  font-size: 6.25rem;
  font-weight: bold;
  text-align: center;
  color: var(--orange);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--orange);
}

.flex-container-historico {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
}

.flex-container-barra {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
}

.containerHist {
  background-color: #30475E;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonCons {
  background-color: var(--orange);

  border-radius: 10px;

  margin: 2rem auto 3rem;
  display: block;

  padding: 0.625rem;

  width: 25.625rem;
  height: 3.125rem;

  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
  text-decoration: none;

  color: var(--dark-blue);
  cursor: pointer;
  margin-top: 70px;
}

.input-busca {
  border-radius: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 0.625rem;
  font-size: 1.1rem;
  margin: 0.1rem 0.5rem 2.6rem 0.5rem;
  display: block;
  align-content: center;
  background: var(--white);

  color: var(--dark-blue);

  outline: none;
}

.input-chave {
  border-radius: 2rem;
  font-size: 1rem;
  margin: 0.1rem 0.5rem 2.6rem -8.1rem;
  padding: 0.625rem;
  border: 0;
  flex-shrink: 0;
  width: 120px;
  text-align: right;
  color: var(--dark-blue);

  background: var(--white);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

@media (max-device-width: 667px) {
  .buttonCons {
    width: 15rem;
    margin-bottom: 1rem;
  }
  .input-busca {
    margin: 0rem 0rem 1rem 2rem;
  }
  .input-chave {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
}
