.buttonHist {
  background-color: var(--orange);

  border-radius: 10px;

  margin: 2rem auto 3rem;
  display: block;

  padding: 0.625rem;

  width: 25.625rem;
  height: 3.125rem;

  font-weight: bold;
  font-size: 1.625rem;
  text-align: center;
  text-decoration: none;

  color: var(--dark-blue);
  cursor: pointer;
  margin-top: 70px;
}

@media (max-device-width: 667px) {
  .buttonHist {
    width: 15rem;
    margin-bottom: 1rem;
  }
}
